/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bg);
}
header {
  height: 100vh;
  min-height: 668px;
  width: 375px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-self: center;
  align-self: center;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
}
.rec-indicator-dark-theme {
  display: var(--rec-display);
  width: 33px;
  height: 26px;
  line-height: 25px;
  text-align: right;
  top: 10px;
  right: 38px;
  position: absolute;
  padding-bottom: 39px;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', sans-serif;
}
.rec-indicator-dark-theme::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
  top: 8px;
  right: -20px;
}
.decorated-zone:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-color: var(--decoration-color);
}
.decorated-zone:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: var(--decoration-color);
}
.header__theme-menu {
  padding-bottom: 8px;
  grid-row: 1;
  align-self: center;
  justify-self: end;
  font-family: var(--accent-font);
  font-size: 18px;
}
.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--button-color);
}
.header__theme-menu-button:hover {
  border: 0.5px solid var(--button-color);
}
.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__theme-menu-button {
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  color: var(--button-color);
  text-transform: lowercase;
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  width: 70px;
  font-weight: 400;
  outline: none;
  border: 1px solid transparent;
}
.header_title {
  width: 355px;
  line-height: 83%;
  font-family: var(--accent-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--primery-color);
  text-shadow: 4px 4px var(--accent-color);
  justify-self: start;
  align-self: center;
}
.title_text-block {
  grid-row: 3;
  justify-self: end;
  align-self: center;
}
.title-decor {
  background-color: var(--decor-color);
}
.title_paragraph {
  font-family: var(--accent-font);
  width: 355px;
  line-height: 23.4px;
  font-size: 18px;
  color: var(--title-color);
  font-weight: 700;
  justify-self: end;
  align-self: end;
}
.content_section {
  width: 375px;
  padding-left: 10px;
  padding-right: 10px;
}
.section_main {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  align-self: center;
}
.heading_content_title {
  font-family: var(--accent-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--heading-title-color);
  padding-top: 40px;
  padding-bottom: 20px;
}
.subtitle-title {
  font-family: var(--accent-font);
  color: var(--sub-title-color);
  line-height: 23.4px;
  font-size: 18px;
  font-weight: 700;
}
.content-paragraph {
  color: var(--main-text-color);
  font-family: var(--accent-font);
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
}
.shadow-text {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}
.shadow-text:focus {
  border: 1px solid var(--main-text-color);
}
.shadow-text:focus-visible {
  outline: none;
  text-decoration: underline;
  border-bottom: 1px solid var(--main-text-color);
}
.subtitle_advice {
  color: var(--sub-title-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}
.subtitle_text-block {
  display: grid;
  gap: 20px;
}
.section-how {
  padding-bottom: 30px;
}
.section-list {
  padding-top: 20px;
}
.gallery {
  display: grid;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.gallery_item {
  width: 355px;
}
footer {
  height: 100%;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer_word {
  color: var(--primery-color);
  font-family: var(--accent-font);
  font-size: 116px;
  font-weight: 700;
  line-height: 83%;
  text-shadow: 2px 2px var(--accent-color);
}
@media (width >=768px) {
  header {
    min-height: 1024px;
    width: 100%;
    display: grid;
    padding: 20px;
    grid-template-rows: 1fr min-content 1fr;
    box-sizing: border-box;
  }
  .rec-indicator-dark-theme {
    top: 20px;
    right: 48px;
  }
  .rec-indicator-dark-theme::after {
    right: -20px;
  }
  .decorated-zone:before {
    bottom: 20px;
    left: 20px;
  }
  .decorated-zone:after {
    top: 20px;
    right: 20px;
  }
  .header_title {
    width: 100%;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
    align-self: center;
    line-height: 83%;
    margin-left: -20px;
  }
  .title_paragraph {
    width: 364px;
  }
  .content_section {
    width: 100%;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-bottom: 80px;
  }
  .heading_content_title {
    max-width: 236px;
    grid-column: 1;
    padding: 0;
  }
  .content-paragraph {
    padding-bottom: 0;
  }
  .subtitle_text-block {
   width: 100%;
  }
  .section-what {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    padding-bottom: 80px;
  }
  .section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-bottom: 80px;
  }
  .section-list {
    padding-top: 20px;
    display: grid;
    gap: 20px;
  }
  .images {
    gap: 20px;
    grid-column: span 2;
    padding-bottom: 60px;
  }
  .gallery {
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 0;
  }
  .gallery_item {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
  .gallery_type_sunset {
    grid-column: span 2;
  }
  .gallery_type_ice-cream {
    grid-row: span 2;
  }
  .gallery_type_tape {
    grid-row: span 2;
  }
  .gallery_type_street {
    grid-column: span 2;
  }
  footer {
    min-height: 1024px;
  }
}
@media (width>=1024px) {
  header {
    width: 100%;
    min-height: 768px;
    padding: 20px;
  }
  .content_section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title_paragraph {
    min-width: 491px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }
  .heading_content_title {
    max-width: 315px;
  }
  .section__texts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  footer {
    min-height: 768px;
  }
}
