/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --primery-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-font: 'IBM Plex Mono', sans-serif;
  --color-bg: #000028;
  --bg-image: url(../images/cover-image-dark.png);
}